:root {
	--shirt-red: #CD6F77;
	--shirt-yellow: #B7B767;
	--shirt-orange: #DFA465;
	--shirt-green: #6EC979;
	--shirt-cyan: #52BAB6;
	--shirt-blue: #5A9ED7;
	--shirt-purple: #9872C3;
	--shirt-pink: #DE79B2;
	--shirt-bg: #262A31;
	--shirt-white: #B0ACBE;
	--shirt-comment: #546685;
	--shirt-highlight: #DE79B20D;
}